body{
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 0.6;
    max-width:100%;
    height:auto;
}
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: darkgray;
   color: white;
   text-align: center;
   opacity: 0.5;
}