body{
    background-color: rgb(173, 216, 230);
    max-width:100%;
    height:auto;
}
.header {
  margin: auto;
  text-shadow: black;
  text-align: center;
}
.endnotes{
    position: relative;
    margin: auto;
    height: auto;
    size: 20px;
}
.footer {
   position: fixed;
   left:auto;
   bottom: 0;
   width: 100%;
   height: min-content;
   background-color: rgb(54, 52, 52);
   color: white;
   text-align: center;
   opacity: 0.2;
}
